.faBthh {
    padding: 5px 10px 5px 10px !important;
    border: 2px solid #e7e7e7 !important;
    border-radius: 4px !important;
    background-color: white !important;
    outline: none;
}

.jdnCWv, .jdnCWv:before, .jdnCWv::after {
    width: 30px !important;
    background-color: #bbbbbb !important;
}

.hOSoMf, .hOSoMf::before, .hOSoMf::after {
    width: 30px !important;
    background-color: #bbbbbb !important;
}

.iPxwRk {
    width: 30px !important;
    height: 13px !important;
}
